@charset "UTF-8";

body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    text-align: center;
}

.basico {
    text-align: left;
}

.intermediario {
    text-align: center;
}

.avancado {
    text-align: right;
}